@model Livreur
<h2>Modifier livreur</h2>
<form asp-action="Edit" method="post">
<input type="hidden" asp-for="Id"/>
<div class="mb-2"><label asp-for="CIN"></label><input asp-for="CIN" class="form-control"/></div>
<div class="mb-2"><label asp-for="RaisonSocial"></label><input asp-for="RaisonSocial" class="form-control"/></div>
<div class="mb-2"><label asp-for="Ville"></label><input asp-for="Ville" class="form-control"/></div>
<div class="mb-2"><label asp-for="VehiculeId"></label><select asp-for="VehiculeId" asp-items="ViewBag.VehiculeId" class="form-select"></select></div>
<button class="btn btn-primary">Mettre a jour</button>
</form>
